$background-color: linear-gradient(-45deg, #e4e4e4, #fafafa, #e4e4e4);
$primary-color: linear-gradient(-90deg, #65e8ad, #55c793);
$secondary-color: linear-gradient(-45deg, #ff9646, #e57c2c);
$font-color: #404040;