<div class="chart-container">
    <app-chart-bar [percent]="83" [group]="1" label="LABEL 1"></app-chart-bar>
    <app-chart-bar [percent]="43" [group]="1" label="LABEL 2"></app-chart-bar>
    <app-chart-bar [percent]="12" [group]="1" label="LABEL 3"></app-chart-bar>
    <app-chart-bar [percent]="0" [group]="1" label="LABEL 4"></app-chart-bar>
    <app-chart-bar [percent]="43" [group]="1" label="LABEL 5"></app-chart-bar>

    <app-chart-bar [percent]="67" [group]="2" label="LABEL 1"></app-chart-bar>
    <app-chart-bar [percent]="39" [group]="2" label="LABEL 2"></app-chart-bar>
    <app-chart-bar [percent]="93" [group]="2" label="LABEL 3"></app-chart-bar>
    <app-chart-bar [percent]="100" [group]="2" label="LABEL 4"></app-chart-bar>
    <app-chart-bar [percent]="1" [group]="2" label="LABEL 5"></app-chart-bar>
</div>