<div class="chart-container">
    <app-chart-bar [value]="83" [group]="1" [labelType]="'Percent'" label="LABEL 1"></app-chart-bar>
    <app-chart-bar [value]="43" [group]="1" label="LABEL 2"></app-chart-bar>
    <app-chart-bar [value]="12" [group]="1" label="LABEL 3"></app-chart-bar>
    <app-chart-bar [value]="0" [group]="1" label="LABEL 4"></app-chart-bar>
    <app-chart-bar [value]="43" [group]="1" label="LABEL 5"></app-chart-bar>

    <app-chart-bar [value]="67" [group]="2" label="LABEL 1"></app-chart-bar>
    <app-chart-bar [value]="39" [group]="2" label="LABEL 2"></app-chart-bar>
    <app-chart-bar [value]="93" [group]="2" label="LABEL 3"></app-chart-bar>
    <app-chart-bar [value]="100" [group]="2" label="LABEL 4"></app-chart-bar>
    <app-chart-bar [value]="1" [group]="2" label="LABEL 5"></app-chart-bar>
</div>